@charset "UTF-8";

@font-face {
    font-family: 'iDroid';
    src: url(fontes/idroid.otf) format(opentype);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/bebasneue.otf) format(opentype);
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3ddc84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'iDroid', sans-serif;
}

* {
    margin: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    padding-top: 40px;
    text-align: center;

}

header > h1 {
    text-shadow: 4px 4px 5px #0000008a;
    border: 150px;
}

header > p {
    padding-top: 15px;
    padding-bottom: 15px;    
}

nav {
    background-color: var(--cor5);
    padding: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.414)
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    text-decoration: underline;
    border-radius: 5px;
    transition-duration: 1s;
}

nav > a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 15px;
}

a {
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 20px;
}

article {
    background-color: white;
}

article > h2 {
    padding-left: 30px;
    padding-top: 20px;
}

article > p {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-indent: 20px;
    text-align: justify;
    
}

article > h3 {
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    font-family: var(--fonte2);
    color: var(--cor4);
  
}

h3 {
    background-image: linear-gradient(to right, var(--cor0), white);
    font-family: var(--fonte2);
    color: var(--cor4);
}

aside {
    background-color: var(--cor0);
    margin: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
}

aside > h4 {
    background-color: var(--cor3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: white;
    font-size: larger;
}

aside > p {
    text-align: justify;
    text-indent: 20px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

aside > ul {
    padding-top: 20px;
}

strong {
    color: var(--cor4);
}

img {
    margin: auto;
    display: block;
}

iframe {
    margin: auto;
    display: block;
    background-color: #063d1e;
    
}

footer {
    background-color: var(--cor5);
    text-align: center;
    color: white;  
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: bold;
}
